<div ng-controller="laba4" id="rott">
    <div layout="row">
    <div ng-repeat="menus in [1,2,3,4]"   flex="10" >
    <md-menu >
        <md-button ng-mouseenter="$mdMenu.open()"  style="font-family: 'Times New Roman', cursive;
        font-size:10px;">
          laba {{menus}}
        </md-button>
        <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
          <md-menu-item ng-repeat="item in [1, 2, 3]" layout="row">
            <md-button flex>
              Option {{item}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
</div>
</div>


    <!-- <md-toolbar class="md-menu-toolbar">
        <div layout="row">
                <md-button class="md-primary" ng-mouseover="menu($event)" flex>laba1</md-button>
        </div>
        <div ng-if="checkMenu" ng-mouseleave="menuCl()">
            <md-list>
                <md-list-item>Test</md-list-item>
            </md-list>
        </div>
                <md-menu-bar >
                      <md-menu ng-mouseover="$mdMenu.open()" ng-mouseleave="$mdMenu.close()">
                            <button ng-click="$mdMenu.open()">
                              laba1
                            </button>
                            <md-menu-content ng-mouseover="$mdMenu.open()" ng-mouseleave="$mdMenu.close()" >
                              <md-menu-item>
                                    <md-button ng-click="testClick()">
                                            Условие
                                        </md-button>
                                        <md-button ng-click="$mdMenu.open()">
                                                Результат
                                        </md-button>
                                        <md-button ng-click="$mdMenu.open()">
                                                Код
                                         </md-button>
                                
                                        
                              </md-menu-item>
                              <md-menu-divider></md-menu-divider>
                              </md-menu-content>
                              </md-menu>

                              <md-menu ng-mouseover="$mdMenu.open()">
                                    <button ng-click="$mdMenu.open()" >
                                      laba2
                                    </button>
                                    <md-menu-content ng-mouseover="$mdMenu.close()">
                                      <md-menu-item>
                                        <md-button ng-click="$mdMenu.open()">
                                            Условие
                                        </md-button>
                                        <md-button ng-click="$mdMenu.open()">
                                                Результат
                                        </md-button>
                                        <md-button ng-click="$mdMenu.open()">
                                                Код
                                         </md-button>
                                                
                                      </md-menu-item>
                                      <md-menu-divider></md-menu-divider>
                                      </md-menu-content>
                                      </md-menu>

                                      <md-menu ng-mouseover="$mdMenu.open()" >
                                            <button ng-click="$mdMenu.open()" >
                                              laba3
                                            </button>
                                            <md-menu-content ng-mouseover="$mdMenu.close()">
                                              <md-menu-item>
                                                    <md-button ng-click="$mdMenu.open()">
                                                            Условие
                                                        </md-button>
                                                        <md-button ng-click="$mdMenu.open()">
                                                                Результат
                                                        </md-button>
                                                        <md-button ng-click="$mdMenu.open()">
                                                                Код
                                                         </md-button>
                                                
                                                        
                                              </md-menu-item>
                                              <md-menu-divider></md-menu-divider>
                                              </md-menu-content>
                                              </md-menu>

                                              <md-menu ng-mouseover="$mdMenu.open()" >
                                                    <button ng-click="$mdMenu.open()">
                                                      laba4
                                                    </button>
                                                    <md-menu-content ng-mouseover="$mdMenu.close()">
                                                      <md-menu-item>
                                                            <md-button ng-click="$mdMenu.open()">
                                                                    Условие
                                                                </md-button>
                                                                <md-button ng-click="$mdMenu.open()">
                                                                        Результат
                                                                </md-button>
                                                                <md-button ng-click="$mdMenu.open()">
                                                                        Код
                                                                 </md-button>
                                                        
                                                                
                                                      </md-menu-item>
                                                      <md-menu-divider></md-menu-divider>
                                                      </md-menu-content>
                                                      </md-menu>

                      </md-menu-bar>
                      </md-toolbar> -->
                      <div layout="row" layout-align="center center">
                            <md-button class="md-primary" ng-click="remItem()" flex>Переместить</md-button>
                      </div>
                      
                      <!-- <div layout="row" layout-align="center center">
                      <div id="remElem" flex>
                          <img src="https://i.ytimg.com/vi/exOGas9-qUA/maxresdefault.jpg" height="100" weidth="100" id="firstImg">
                      </div>
                      <div id="blockTwo" flex> 
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3iLXvJfeUkGN4qdF1YusQS4RNFZvFWSfXOw93qeGdF-LatFGpw" weidth="100" height="100" alt="Foto">
                      </div>
                    </div> -->
                    <div id="preview" layout="row" layout-align="space-between center">
                    
                        
                                        <img src="https://i.ytimg.com/vi/exOGas9-qUA/maxresdefault.jpg" style="width:100; height:100;" id="firstImg" flex="30">
                                    
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3iLXvJfeUkGN4qdF1YusQS4RNFZvFWSfXOw93qeGdF-LatFGpw"
                                         id="twoImg" flex="30" style="width:100; height:100;" alt="Foto">
                                
                    </div>


</div>