.block-square {
    background: red;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 55%;
    margin-top: -100px;
    margin-left: -100px;
}
.test {
    color: #0A3CC1;
}